<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>rxjs 2</title>
</head>
<body>
	RxJS
<script src="/js/lib/Rx.js"></script>
<script>
	var content = `天之道，损有余而补不足`;

	var HR = new Rx.ReplaySubject(content.length);
	var GJ = new Rx.ReplaySubject(3);

	var read = Rx.Observable.from(content.split(''));


	// read.subscribe(HR);
	// read.subscribe(GJ);

	content.split('').forEach(item => {
		HR.next(item)
		GJ.next(item)
	})

	HR.subscribe(x => console.log(x, ' -- from HR'));
	GJ.subscribe(x => console.log(x, ' -- from GJ'));


</script>
</body>
</html>

fc5c402c
